html, body {
    background-color: #A4C6DE;
    height: 100%;
}

body {
    display: table;
    margin: 0 auto;
}

.container {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.main {
    text-align: center;
    margin-top: 20px;
    width: 600px;
    height: 300px;
}
